{study}:
    assays:
        {assay_name}:
            files:
                - {mv_commands}
		- {zip commands, other bash commands}
            chromatography:
                {uplc, hplc}
            column:
                {C8, C18, HILIC}
            mass_spectrometer:
                {qtof, qtof_hires, orbitrap}
            data_path:
                "data/raw/{study}/{assay}"
            class_label_column: 
                {"Factor Value[disease]"} # varies with each study	
                # the column that has sample names?
disease: {disease name}
