# This is the minimum information necessary to process the datasets
# see the readme for more specific information
# Items in '{}' change with each project. If there's a list of 
# items in variables, those are your options for that variable currently
{study}:
    assays:
        {assay_name}:
            files:
                - {mv_commands}
		- {zip commands, other bash commands}
            chromatography:
                {uplc, hplc}
            column:
                {C8, C18, HILIC}
            mass_spectrometer:
                {qtof, qtof_hires, orbitrap}
            data_path:
                "data/raw/{study}/{assay}"
            class_label_column: 
                {"Factor Value[disease]"} # varies with each study	
                # the column that has sample names?
disease: {disease name}
